<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bkanent.agent.mapper.AgentPlannerLogMapper">

    <resultMap id="AgentPlannerLogResultMap" type="com.bkanent.agent.entity.AgentPlannerLogEntity">
        <id column="id" property="id"/>
        <result column="session_no" property="sessionNo"/>
        <result column="execution_mode" property="executionMode"/>
        <result column="user_message" property="userMessage"/>
        <result column="final_answer" property="finalAnswer"/>
        <result column="plan_summary" property="planSummary"/>
        <result column="final_plan_json" property="finalPlanJson"/>
        <result column="tool_context" property="toolContext"/>
        <result column="replan_count" property="replanCount"/>
        <result column="completed" property="completed"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, session_no, execution_mode, user_message, final_answer, plan_summary, final_plan_json, tool_context,
        replan_count, completed, created_at, updated_at, deleted
    </sql>

</mapper>
